.container{
    align-items: center;
}
.text-center {
    color: green;
    align-items: center;
}
card-body{
    align-items: center;
}
.btn btn-secondary{
    color: hotpink;
}
.col-sm-4{
    align-items: center;
}
.row{
    align-items: center;
}