.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(204, 162, 183);
    /* display:flexbox; */
}
.card-header{
    text-align: center;
    font-size: large;
    width: 500px;
    margin: auto;
    /* color: ivory; */
}
.form-group{
align-items: center;
text-align: center;
padding: 5px;
}
.btn-primary-1{
align-items: center;
text-align: center;
height: 100px;
width: 50px;
background-color: rgb(26, 175, 83);
padding: 5px;
}